/__pycache__
/.ipynb_checkpoints
/young_adult.json
all_data/reviews.csv
all_data/goodreads_reviews_young_adult.json
all_data/all_reviews.csv
all_data/reviews_filtered.csv
all_data/reviews_filtered_2.csv
cleaned_data/cleaned_reviews.csv
cleaned_data/cleaned_reviews_2.csv
/glove.42B.300d.txt
/weights.best.hdf5
/word2vec.model
/word2vec.txt
/GoogleNews-vectors-negative300.bin